{% extends 'base.html' %}

{% block content %}
<section>
  <h2>📞 Contact Me</h2>
  <ul class="contact-list">
    <li><strong>Email:</strong> <a href="mailto:harshithchintala04@gmail.com">harshithchintala04@gmail.com</a></li>
    <li><strong>Phone:</strong> <a href="tel:+918712135806">+91 8712135806</a></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/chintala-venkata-pavan-harshith-79a972300/" target="_blank">linkedin.com/in/chintala-venkata-pavan-harshith</a></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/ChintalaVenkataPavanHarshith" target="_blank">github.com/ChintalaVenkataPavanHarshith</a></li>
    <li><strong>LeetCode:</strong> <a href="https://leetcode.com/u/chintala_harshithv/" target="_blank">leetcode.com/u/chintala_harshithMyZPWK</a></li>
  </ul>
</section>
{% endblock %}
